@import "../../config";

.navbar-brand{
  font-family: "coquette",fantasy;
  font-weight:bold;
  color:$blue;
  &:hover{
	color: $darker-blue;
  }
  font-size: 24px;
}

.navbar-header{
  float: left;
}

.navbar-right {
  margin-left: 30px;
  float:right;
}

.hidden-phone {
  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.userinfo {

  font-size: 1.2em;
  i {
    font-size: 1.2em;
    margin-right: 10px;
  }

}

