<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" routerLink="/">
					FlynnDev
				</a>
		</div>
		<button *ngIf="api.token" class="btn btn-primary navbar-btn navbar-right" (click)="api.logout($event)">
			<i class="fa fa-sign-out"></i>
			Logout
		</button>
		<button *ngIf="api.isAdmin()" class="btn navbar-btn navbar-right" [ngClass]="{'btn-primary': log.show , 'btn-secondary': ! log.show }" (click)="log.toggle()" alt="Toggle Console Log">
			<i class="fa fa-cogs"></i>
		</button>
		<button *ngIf="!api.token" type="button" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#loginModal">
			<i class="fa fa-sign-in"></i>
			Login
		</button>
		<p *ngIf="api.token" class="navbar-text navbar-right userinfo">
			<i class="fa fa-user"></i> {{api.user.name}}
		</p>

	</div>
</nav>

<router-outlet></router-outlet>

<div class="modal fade" tabindex="-1" role="dialog" id="loginModal" *ngIf="!api.hasUser()">
	<div class="modal-dialog" role="document">
		<form role="form" (submit)="api.login($event, loginusername.value, loginpassword.value)">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" *ngIf="api.loginerror"> {{api.loginerror}} </div>
					<div class="alert alert-info" *ngIf="api.loginmessage"> {{api.loginmessage}} </div>
					<div class="form-group">
						<label for="loginusername">Username</label>
						<input type="text" #loginusername class="form-control" id="loginusername" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="loginpassword">Password</label>
						<input type="password" #loginpassword class="form-control" id="loginpassword" placeholder="Password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal" data-target="#registerModal" data-toggle="modal">Register</button>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="registerModal" *ngIf="!api.hasUser()">
	<div class="modal-dialog" role="document">
		<form role="form" (submit)="api.register($event, registername.value, registerusername.value, registerpassword.value)">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Register</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" *ngIf="api.registererror">{{api.registererror}}</div>
					<div class="alert alert-info" *ngIf="api.registermessage">{{api.registermessage}}</div>
					<div class="form-group">
						<label for="registerusername">Name</label>
						<input type="text" #registername class="form-control" id="registername" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="registerusername">Username</label>
						<input type="text" #registerusername class="form-control" id="registerusername" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="registerpassword">Password</label>
						<input type="password" #registerpassword class="form-control" id="registerpassword" placeholder="Password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal"  data-target="#loginModal" data-toggle="modal">Login</button>
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
		</form>
	</div>
</div>

<contact-slideup></contact-slideup>