<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand" href="#">
				FlynnDev
				</a>
		</div>
		<button *ngIf="token" class="btn btn-primary navbar-btn navbar-right" (click)="logout($event)">
			<i class="fa fa-sign-out"></i>
			Logout
		</button>
		<button *ngIf="!token" type="button" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#loginModal">
			<i class="fa fa-sign-in"></i>
			Login
		</button>
		<p *ngIf="token" class="navbar-text navbar-right userinfo">
			<i class="fa fa-user"></i> {{user.name}}
		</p>

	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<h2>Projects</h2>
		<div class="projects row">
			<div class="col-md-3 col-sm-6 project">
				<div class="thumbnail">
      				<img src="http://placehold.it/200x150" alt="placeholder">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 project">
				<div class="thumbnail">
      				<img src="http://placehold.it/200x150" alt="placeholder">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 project">
				<div class="thumbnail">
      				<img src="http://placehold.it/200x150" alt="placeholder">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 project">
				<div class="thumbnail">
      				<img src="http://placehold.it/200x150" alt="placeholder">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h2>My Skills</h2>
	<skills></skills>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
	<div class="modal-dialog" role="document">
		<form role="form" (submit)="login($event, username.value, password.value)">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" *ngIf="error">
						{{error}}
					</div>
					<div class="alert alert-info" *ngIf="message">
						{{message}}
					</div>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" #username class="form-control" id="username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="username">Password</label>
						<input type="password" #password class="form-control" id="password" placeholder="Password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal" data-target="#registerModal" data-toggle="modal">Register</button>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>

			</div><!-- /.modal-content -->
		</form>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="registerModal">
	<div class="modal-dialog" role="document">
		<form role="form" (submit)="register($event, name.value, username.value, password.value)">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Register</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" *ngIf="error">
						{{error}}
					</div>
					<div class="alert alert-info" *ngIf="message">
						{{message}}
					</div>
					<div class="form-group">
						<label for="registerusername">Name</label>
						<input type="text" #name class="form-control" id="registername" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="registerusername">Username</label>
						<input type="text" #username class="form-control" id="registerusername" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="registerpassword">Password</label>
						<input type="password" #password class="form-control" id="registerpassword" placeholder="Password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal"  data-target="#loginModal" data-toggle="modal">Login</button>
					<button type="submit" class="btn btn-primary">Register</button>
				</div>

			</div><!-- /.modal-content -->
		</form>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
