<div class="project">
	<div class="container ">
		<div class="top">
			<div *ngIf="thumb"  class=" circle-img img-fill project-head-img"> <img src="{{thumb}}/100"> </div>
			<h2>{{name}}</h2>
			<a *ngIf="apidoc" class="btn btn-default" href="{{apidoc}}">View ApiDoc</a>
			<a *ngIf="url" class="btn btn-primary" href="{{url}}">View Live</a>
		</div>
	</div>

	<div class="jumbotron"  *ngIf="gallery.length > 0">
		<div class="container">
			<div class="gallery">
				<div class="gallery-current">
					<img src="{{currentImage}}">
				</div>
				<div class="gallery-list" *ngIf="gallery.length > 1">
					<div class="circle-img gallery-item img-fill project-gallery-thumb" *ngFor="let image of gallery" [ngClass]="{active: image == currentImage}" (click)="changeImage(image)">
						<img src="{{image}}/100">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<div class="about" *ngIf="about">
			<h2>About</h2>
			<div [innerHtml]="about"></div>
		</div>
	</div>
	<div class="files" *ngIf="api.hasUser()">
		<div class="container">
			<div class="row">
				<div class="fileslist col-md-3">
					<a *ngFor="let file of files" href="#" [ngClass]="{active: file == currentFile}" (click)="openFile($event, file)">{{file.path}}</a>
				</div>
				<div class="col-md-9">
					<h5>{{currentFile.name}}</h5>
					<pre class="code"><code class="codearea hljs"></code></pre>
				</div>
			</div>
		</div>
	</div>
	<div class="login-for-files" *ngIf="!api.hasUser()">
		<div class="container">
			<div class="circle-icon"><i class="fa fa-file"></i></div>
			<p>Please <button type="button" class="btn btn-link" data-dismiss="modal" data-target="#loginModal" data-toggle="modal">Login</button> or <button type="button" class="btn btn-link" data-dismiss="modal" data-target="#registerModal" data-toggle="modal">Register</button> to view the source code for this project. </p>
		</div>
	</div>
</div>