<div class="project">
	<div class="container ">
		<div class="top">
			<h2><div *ngIf="project.thumb"  class=" circle-img project-head-img"> <img src="{{project.thumb}}"> </div> {{project.name}}</h2>
			<a *ngIf="project.url" class="btn btn-default" href="{{project.url}}">View Running</a>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<div class="gallery">
				<div class="gallery-current">
					<img src="{{currentImage}}">
				</div>
				<div class="gallery-list">
					<div class="circle-img gallery-item project-gallery-thumb" *ngFor="let image of project.gallery" [ngClass]="{active: image == currentImage}" (click)="changeImage(image)">
						<img src="{{image}}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<div class="about">
			<h2>About</h2>
			<div [innerHtml]="project.about"></div>
		</div>
	</div>
	<div class="files">
		<div class="container">
			<div class="row">
				<div class="fileslist col-md-3">
					<a *ngFor="let file of project.files" href="#" [ngClass]="{active: file == currentFile}" (click)="openFile($event, file)">{{file.path}}</a>
				</div>
				<div class="col-md-9">
					<h5>{{currentFile.name}}</h5>
					<pre class="code"><code class="codearea hljs"></code></pre>
				</div>
			</div>

		</div>
	</div>
</div>