body{
	padding-top: 70px;
	
	nav.navbar{
		.navbar-right {
			margin-left: 30px;
		}
		.userinfo{
			font-size: 1.2em;
			i {
				font-size: 1.2em;
				margin-right: 10px;
			}
		}
	}
}
.modal{
}

pre.code{
  padding: 0px;
  background: #4b4b4b;
  border-color: #2b2b2b;
  color: #ccc;

  h5 {
	font-weight: bold;
	border-bottom: 1px solid #3b3b3b;
	padding-bottom: 10px;
	//margin-left: -10px;
	padding-left: 10px;
	//margin-right: -10px;
	margin-bottom:0px;
  }
}
