body{
	padding-top: 70px;
	
	nav.navbar{
		.navbar-right {
			margin-left: 30px;
		}
		.userinfo{
			font-size: 1.2em;
			i {
				font-size: 1.2em;
				margin-right: 10px;
			}
		}
	}
}
.modal{
}
.fileslist{
  height: 538px;
  overflow: scroll;
  margin-right: 0px;
  float: left;
  width: 30%;
  border: 1px solid #2b2b2b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0px;
  background-color: #2b2b2b;
  .list-group {
	margin-bottom: 0px;
	background-color: #2b2b2b;
	.list-group-item {
	  padding: 7px 15px;

	  background-color: #2b2b2b;
	  color: #ccc;
	  border-left: 0px;

	  border-color: #3b3b3b;
	  &.active {
		color: #fff;
		background-color: #cb7832;
		border-color: #cb7832;
	  }
	  &:first-child {
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	  }
	  &:last-child {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	  }
	}
  }
}
pre.code{
  padding: 0px;
  background: #4b4b4b;
  border-color: #2b2b2b;
  color: #ccc;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  h5 {
	font-weight: bold;
	border-bottom: 1px solid #3b3b3b;
	padding-bottom: 10px;
	//margin-left: -10px;
	padding-left: 10px;
	//margin-right: -10px;
	margin-bottom:0px;
  }
  code {
	height: 500px;
	overflow: scroll;
  }
}
.project-head-img{
  width: 100px;
  margin-right: 50px;
}
.text-image{
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  line-height: 200px;
  text-align: center;
}