body {
  padding-top: 70px;

  nav.navbar {
	.navbar-right {
	  margin-left: 30px;
	}
	.userinfo {
	  font-size: 1.2em;
	  i {
		font-size: 1.2em;
		margin-right: 10px;
	  }
	}
  }
}


div.circle-img {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid #ccc;
  position: relative;
  img {
	height: 200px;
  }

  .title {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #ccc;
	opacity: 0.7;
	align-items: center;
	justify-content: center;
	display: none;
	p {
	  font-size: 24px;
	  font-weight: bold;
	  margin: 0;
	  text-align:center;
	}
  }

  &:hover .title {
	  display: flex;
  }
  &.project-gallery-thumb{
	width: 100px;
	height: 100px;
	img {
	  height: 100px;
	}
  }
  &.project-head-img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
	img {
	  height: 100px;
	}
  }
}
.project{
  .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .gallery {
	.gallery-current {
	  height: 500px;
	  overflow: hidden;
	  border: 3px solid #ccc;
	  border-radius: 4px;
	  img {
		  width: 100%;

	  }
	}

	.gallery-list {
	  margin-top: 10px;
	  border: 3px solid #ccc;
	  border-radius: 4px;
	  background-color: #ccc;
	  display: flex;
	  align-items: center;
	  flex-wrap: wrap;
	  .gallery-item{
		margin-left: 10px;
		margin-right: 10px;
		&.active{
		  border-color: #cb7832;
		}
	  }
	}
  }
  .files {
	background-color: #2b2b2b;

	.fileslist {
	  overflow: scroll;
	  a {
		display: block;
		background-color: #ccc;
		color: #000;
		border-radius: 4px;
		&:hover {
		  background-color: #4b4b4b;
		}
		&.active {
		  color: #fff;
		  background-color: #cb7832;
		  border-color: #cb7832;
		}
	  }
	}
	pre.code {
	  padding: 0px;
	  background: #4b4b4b;
	  color: #ccc;
	  border-left: 0px;
	  border-top-left-radius: 0px;
	  border-bottom-left-radius: 0px;

	  h5 {
		font-weight: bold;
		border-bottom: 1px solid #3b3b3b;
		padding-bottom: 10px;
		padding-left: 10px;
		margin-bottom: 0px;
	  }

	  code {
		height: 500px;
		overflow: scroll;
	  }
	}

  }
}
